.custom-carousel {
  background-color: #383838;
}


.fade-section {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  transform: translateY(20px);
}

.fade-section.show {
  opacity: 1;
  transform: translateY(0);
}

.d-block {
  margin: 0 auto;
  /* This will center the image horizontally */
}

.carousel-inner .carousel-item {
  transition-duration: 0.50s;
  /* Set your desired duration here */
}

.brighten {
  filter: brightness(250%);
}


.container2 {
  width: 100%;
  height: 95%;
  /*  height: 400px;*/
  position: relative;
}

/*.eventsContainer {
  width: 100%;
  height: 95%;
    height: 400px;
  position: relative;
}*/

.container3 {
  width: 100%;
  height: 50%;
  /*  height: 400px;*/
  position: relative;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: brightness(250%);
}

.background2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: brightness(150%);
}

.background3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: brightness(200%);
}

.background4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: brightness(100%);
}

.content {
  position: relative;
  z-index: 1;
  color: white;
  /* For better visibility */
}

.eventsContent {
  position: relative;
  z-index: 1;
  color: white;
  /* For better visibility */
}

.albumContent {
  position: absolute;
  top: 0;
  height: 70%;
  width: 100%;
  z-index: 1;
  color: white;
  /* For better visibility */
}

/* Style for the section after the absolute positioned section */
#members {
  position: relative;
  /* Set to relative so it respects the flow */
  z-index: 0;
  /* Set a z-index lower than the absolute positioned elements */
  /*margin-top: 40vh;*/
  /* Adjust this value to create space between sections */
}


.inline-flex-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 4rem;
}


.CoverContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  /* Initial height, adjust as needed */
  position: relative;
}

.CoverContent {
  margin-top: 4rem;
  flex-grow: 1;
  /* Make the content responsive */
  min-height: 0;
  /* This makes it take up the remaining space */
  overflow: hidden;
  /* Hide any overflowing content */
}

.CoverDescription {
  position: relative;
  /* Position the bottom section absolutely */
  /*  bottom: 0;*/
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2rem;
}


.CoverFansContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  /* Initial height, adjust as needed */
  position: relative;
}

.CoverFansContent {
  margin-top: 4rem;
  flex-grow: 1;
  /* Make the content responsive */
  min-height: 0;
  /* This makes it take up the remaining space */
  overflow: hidden;
  /* Hide any overflowing content */
}

.CoverFansDescription {
  position: relative;
  /* Position the bottom section absolutely */
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2rem;
}


/*
#cover {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

#coverCarousel {
  flex-grow: 1;
}
*/



#AlbumContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 600px;
  /* Initial height, adjust as needed */
  position: relative;
  background-color: black;
}

#AlbumContent {
  flex-grow: 1;
  /* This makes it take up the remaining space */
  overflow: hidden;
  /* Hide any overflowing content */
}

#AlbumContent iframe {
  height: 80%;
  /* Make the iframe fill the container */
  width: 100%;
}

#albumDescription {
  position: absolute;
  /* Position the bottom section absolutely */
  bottom: 0;
  /*  top: 50%;
  left: 50%;*/
  /* Move the left edge to the center of the parent container */
  /*  transform: translateX(-50%);*/
  /* Move the element back by half of its own width */
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2rem;
}

.VideoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  /* Initial height, adjust as needed */
  position: relative;
  background-color: black;
}

.VideoContent {
  width: 75%;
  flex-grow: 1;
  /* Make the content responsive */
  min-height: 0;
  /* This makes it take up the remaining space */
  overflow: hidden;
  /* Hide any overflowing content */
}

.VideoContent iframe {
  height: 75% !important;
  /* Make the iframe fill the container */
  width: 75% !important;
}

.videoDescription {
  position: absolute;
  /* Position the bottom section absolutely */
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2rem;
}


.eventsContainer {
  position: relative;
  /*  height: 100%;*/
  min-height: 100%;
  /* Minimum height, adjusts if there is overflow */
  /* Initial height, adjust as needed */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*  justify-content: center;
  align-items: center; */
  overflow: hidden;
  /* Hide any overflowing content */
}

.eventsContent {
  width: 75% !important;
  /* Set the width to 50% of the container */
  max-width: 100%;
  /* Make the content responsive */
  min-height: 0;
  /* Allow the container to shrink beyond its content height */
  flex-grow: 1;
  /* Allow the container to grow when there is overflow */
  overflow: hidden;
  /* Hide any overflowing content */
}

.eventsContentOLD {
  width: 50%;
  /* Set the width to 50% of the container */
  max-width: 100%;
  /* Make the content responsive */
  height: 80%;
  /* Make the content fill the height of the container */
  /*  max-height: 400px; */
  /* Set the maximum height for desktop */
  overflow: hidden;
  /* Hide any overflowing content */
}


.eventsContent img {
  width: 75% !important;
  /* Make the image fill the content width */
  height: 100% !important;
  /* Make the image fill the content height */
  object-fit: cover !important;
  /* Maintain aspect ratio and fill the container */
}

.eventDescription {
  position: relative;
  /* Position the bottom section absolutely */
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2rem;
  color: white;
  text-align: center;
  z-index: 1;
}






/*
Media Query for dynamic styling!
*/
@media screen and (max-width: 500px) and (max-height: 768px) {

  .VideoContainer {
    height: 150px !important;
  }

  .eventsContainer {
    min-height: 80% !important;
  }
}

@media screen and (max-width: 767px) {

  .container2 {
    height: 80% !important;
  }

  .container3 {
    height: 60% !important;
  }

  .VideoContainer {
    min-height: 46% !important;
  }
}

@media screen and (max-width: 500px) {

  .VideoContainer {
    min-height: 45% !important;
  }
}


@media screen and (max-width: 350px) {

  .VideoContainer {
    min-height: 25% !important;
  }
}

@media screen and (min-width: 768px) {
  .container3 {
    width: 100%;
    height: 70% !important;
    /*  height: 400px;*/
    position: relative;
  }

  .VideoContainer {
    min-height: 47% !important;
  }

}

@media screen and (min-width: 920px) {
  .container3 {
    width: 100%;
    height: 100%;
    /*  height: 400px;*/
    position: relative;
  }

  .VideoContainer {
    min-height: 50% !important;
  }
}

@media screen and (min-width: 2560px) and (min-height: 1169px) {
  .eventsContent {
    height: 100% !important;
  }
}

@media screen and (min-width: 2560px) and (min-height: 1559px) {
  .eventsContainer {
    min-height: 80% !important;
    height: 80% !important;
  }
}


/*
Johnnykins Custom Landscape mode styling to calculate based on a similar calculation style as the same way as the javascript populates the carousel! to ensure proper spaces!
*/
@media screen and (min-aspect-ratio: 701/320) {

  /* Styles for screens where width is greater than height */
  /*
  .eventsContent {
    margin-bottom: calc((75vw - 320px) / 2) !important;
    /* Set margin based on the difference between width and 320px */
  /*  }

  .CoverContent {
    margin-bottom: calc((75vw - 320px) / 1) !important;
  }

  .CoverFanContent {
    margin-bottom: calc((75vw - 320px) / 2) !important;
  }
  */
}